---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  comments:
    require-starting-space: true
    min-spaces-from-content: 1
  comments-indentation: enable
  document-start: disable
  indentation:
    spaces: 2
    indent-sequences: consistent
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
  brackets:
    max-spaces-inside: 1
  braces:
    max-spaces-inside: 1

ignore: |
  .github/
  vendor/
  tmp/
  .devcontainer/